#auth-box-outer
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center

#auth-box
  width: 400px
  padding: 32px
  border: black solid 2px
  border-radius: 6px
  form
    align-content: center

.auth-header
  text-align: center
  margin: 0
  font-size: 24px

#auth-email,#auth-password
  display: block
  padding: 12px 20px
  width: calc(100% - 44px)
  margin: 16px 0
  border: #333 solid 2px
  border-radius: 4px
  background-color: #eee
  transition: border-color 400ms
  font-size: 20px

#auth-email:focus,#auth-password:focus
  border-color: dodgerblue

#auth-error
  color: red
  font-size: 20px
  display: block

#auth-submit
  padding: 12px 20px
  width: calc(50%)
  margin: 16px auto 0 auto
  display: block
  color: white
  background-color: #28A745
  font-size: 20px
  border-radius: 9px
  border: #333 solid 1px
  transition: background-color 400ms
  cursor: pointer

#auth-submit:focus
  background-color: #1f7f35

#auth-submit[disabled]
  background-color: #26452c

.auth-switch
  display: inline-block
  margin: 8px
  color: dodgerblue
  text-decoration: underline
  cursor: pointer