body
  font-family: sans-serif

.inner-body
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh

header
  width: 100vw
  background: #151515
  color: #fff
  display: flex
  justify-content: space-between
  height: 64px
  .wordmark
    margin: 0
    padding: 16px
    line-height: 32px
    font-family: Inter, sans-serif
  .account-status
    height: 32px
    margin: 16px
  .avatar
    width: 32px
    height: 32px
    border-radius: 4px
  .log-out-button
    fill: white
    transition: fill 200ms
    margin: 4px
    width: 24px
    height: 24px
    cursor: pointer
  .log-out-button:hover
    fill: #aaa

footer
  width: 100vw
  background: #151515
  height: 64px

.content-container
  width: 100vw
  flex-grow: 1
